.awsomered {
	color: #ff6666;
	font-family: verdana;
    font-size: 20px;
    margin: 0px auto;
	  text-align: center;
    
   

}

.class_center{
	  margin: 0px auto;
	  text-align: center;
	  color: #ff6666;
	  font-family: verdana;
      font-size: 20px;

}
